<div>
    <h2>Shopping List</h2>

    <div class="shopping-list-details">
        <p>Amount food items to buy: <%= @total_item_to_buy %> </p>
        <p>Total value of food needed: $ <%= @total_price %> </p>
    </div>

      <table>
       <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
     
     <% @missing_foods.each do |recipefood| %>
     <tr>
       <td> <%= recipefood.food.name%> </td>
       <td> <%= @quantity %> </td>
       <td> <%= @quantity * recipefood.food.price %>$ </td>
     <% end %>
     
     </table>
</div>